Package: com.susnm.RevealLoader
Name: RevealLoader
Version: 8
Description: A tweak for Reveal app.
Section: System
Depends: firmware (>= 7.0), mobilesubstrate
Conflicts:
Replaces: com.susnm.Reveal
Priority: optional
Architecture: iphoneos-arm
Author: susnm
dev:
Homepage:
Depiction: http://susnm.caiyy.vip/depictions/?p=com.susnm.RevealLoader
Maintainer: susnm
